gradio
python-dotenv
langchain-groq
langchain-huggingface
langchain-community
langchain-core
langchain-classic
faiss-cpu
sentence-transformers
deepgram-sdk
groq
SpeechRecognition
pydub
Pillow